@borderColor: #DCDCDC;
.selected {
  background-color: #DFE4EA;
  height: 40px;
}

.details-body {
  width: 80%;
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.left-menu {
  flex: 3;
  float: left;
  background-color: #F1F2F6;
  height: 100%;

}

.left-menu ul {
  padding-top: 40px;
  text-align: left;
}

.left-menu li {
  list-style: none;
  display: block;
  color: black;
  height: 60px;
  padding-left: 10px;
  line-height: 60px;
  margin-right: 40px;
}

.right-div {
  flex: 7;
  margin: 0 40px;
  text-align: center;
}

.right-div hr {
  margin: 40px 0 40px 0;
}

.right-div p {
  text-align: left;
}

.delete-button {
  width: 120px;
  height: 30px;
  margin: 10px 5px 0 5px;
  background-color: #FF6B81;
}
