.App {
  background: antiquewhite;
}

.header-div {
  background-color: #A9B6F2;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.header-div img {
  width: 25px;
  height: 25px;
  position: fixed;
  left: 10px;
  top: 15px;
}
